<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - logout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/resources/bootstrap.css" th:href="@{/resources/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="~{fragments/banner :: banner}"></div>
<div class="container">

    <div class="text-center">

        <h1>Thymeleaf Layouts</h1>

        <div class="lead">
            Welcome to the Quickstart application!
        </div>

        <p>
            <a id="signup" href="new-account" class="btn btn-success btn-lg"><label th:text="#{application.sign.up}"/></a>
            <a id="signin" href="login" class="btn btn-success btn-lg"><label th:text="#{application.sign.in}"/></a>
        </p>
    </div>
    <div th:insert="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div>
</div>
</body>
</html>