<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/resources/bootstrap.css" th:href="@{/resources/bootstrap.css}" rel="stylesheet" />
    <link href="/resources/core.css" th:href="@{/resources/core.css}" rel="stylesheet" />
    <script src="/resources/jquery.min.js" th:src="@{/resources/jquery.min.js}"></script>
    <script src="/resources/bootstrap.min.js" th:src="@{/resources/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <table>
        <th:block th:each="employee : ${employees}">
            <tr>
                <td th:text="${employee.firstName}">...</td>
                <td th:text="${employee.email}">...</td>
            </tr>
            <tr>
                <td colspan="2" th:text="${user.address}">...</td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>